.content-container {
    display: grid;
    gap: 3vw;
    grid-template: auto / repeat(8, 10vw);
    justify-content: center;
    align-items: start;
}

.content-main {
    grid-column-start: 2;
    grid-column-end: 6;
    height: 2000px;
}

.content-sub {
    grid-column-start: 6;
    grid-column-end: 8;
}

#hero-banner {
    background-color: rgb(30, 41, 59);
    border-radius: 5px;
    padding: 20px;
    margin: 20px 10px;
    width: 75%;
}

#know-more {
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 3px;
    padding: 8px 16px;
    cursor: pointer;
}

#faq-container,
#rate-table,
#comparison {
    padding: 20px;
    border: 2px solid oklch(37.3% 0.034 259.733);
    border-radius: 10px;
    margin: 10px auto;
}
